:root {
    --primary-color: #005A99;
    --secondary-color: #C7512E;
    --accent1-color: #004A80;
    --accent2-color: #A65E00;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
    --max-width: 840px;
    --spacing: 16px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    line-height: 1.6;
    background-color: #f9f9f9;
}

/* LAYOUT WRAPPER */
header,
main,
footer {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

header img {
    display: flex;
    justify-content: flex-start;
    width: 90px;
}

/* NAV */
nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    color: #fff;
    padding: 0 10px;
}

nav a:hover {
    color: var(--secondary-color);
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

/* HERO */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* HERO TITLE OVERLAY */
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: var(--heading-font);
}

/* HERO ARTICLE OVERLAY */
.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 16px;
    background-color: var(--accent1-color);
    color: white;
    opacity: 0.9;
}

.hero article img {
    float: right;
    width: 125px;
    height: 125px;
    object-fit: cover;
    margin-left: 10px;
}

.article p {
    text-align: left;
}

/* HEADINGS */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* SECTIONS */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--spacing);
    padding: var(--spacing);
}

section h2,
p {
    color: #fff;
}

.history p {
    text-align: center;
}

section {
    background: var(--accent1-color);
}

section p {
    padding-top: 20px;
}

/* FOOTER */
footer {
    text-align: center;
}

footer p {
    color: var(--accent1-color);
}

/* REMOVE UNDERLINE IN SOCIAL LINKS */
.socialmedia img {
    width: 25px;
    height: 25px;
}

.history {
    text-align: center;
    padding: 2rem;
}

.history-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.history-content p {
    flex: 1;
}

.history-content img {
    width: 200px;
    height: auto;
}