* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background: #01008a;
    --heading-text-color: #000000;
    --box-shadow-color: #ffffff;
    --padding:
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    float: right;
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20em;
    margin: 1em;
    position: relative;
}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

aside h2 {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    margin-top: 15px;
    border-top: 15px solid #000;
    text-align: center;
}

/* class selector */
.box {
    padding: 1em;
    border: 1px solid #000;
    background-color: #eee;
    color: #333;
    margin: 1rem;
}